<div>
  <div class=" toolbar-pizza">
    <mat-toolbar class="mat-toolbar mat-primary">
      <mat-toolbar-row>

        <button mat-button class="mat-button" (click)="nav.toggle()">

          <span>
            <mat-icon>menu</mat-icon>
          </span>

        </button>

        <span>
          <h1 class="mat-h1">Pizzaria Nações</h1>
        </span>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <mat-sidenav-container color="secondary" (backdropClick)="close()">

    <mat-sidenav #nav (keydown.escape)="close()" disableClose fixedBottomGap="0">

      <mat-nav-list class=".mat-nav-list">
        <a mat-list-item routerLink="." *ngFor="let item of itens">{{item}}</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content style="">
      <mat-card class="mat-card">
      </mat-card>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>