<mat-toolbar class="mat-toolbar mat-primary nav-bar mat-elevation-z10">
  <mat-toolbar-row>

    <button mat-button class="mat-button" (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>
      <h1 class="mat-h1">Pizzaria Nações</h1>
    </span>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-sidenav-container color="secondary" (backdropClick)="close()" class="mat-elevation-z9">
  <mat-sidenav #nav (keydown.escape)="close()" disableClose [fixedTopGap]="0" [fixedBottomGap]="0" class="mat-sidenav::-webkit-scrollbar-thumb">
    <mat-toolbar>
      <mat-toolbar-row>
        <img src="">
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="mat-nav-list">
      <a mat-list-item routerLink="." *ngFor="let item of itens">{{item}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="col-sm-1 col-md-1 col-lg-12 col-xl-12">
    <app-pessoas></app-pessoas>
  </mat-sidenav-content>
</mat-sidenav-container>