<mat-toolbar #container class="mat-toolbar mat-primary nav-bar mat-elevation-z3">
  <mat-toolbar-row>
    <div class="col-8 row">
      <button mat-button color="primary" class="col-1 mat-flat-button" (click)="nav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="col-6 row">
        <mat-icon class="pizza-icon">local_pizza</mat-icon>
        <h1 class="pizza-h1">Pizzaria Nações</h1>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container color="secondary" (backdropClick)="close()">
  <mat-sidenav #nav (keydown.escape)="close()" mode="over" disableClose [fixedInViewport]="true" [fixedTopGap]="64" [fixedBottomGap]="0"
    class="mat-sidenav::-webkit-scrollbar-thumb mat-elevation-z24">
    <mat-nav-list class="logo">
      <mat-toolbar class="logo mat-toolbar">
        <mat-toolbar-row class="logo">
          <div>
            <img src="../assets/logo.jpg">
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <a mat-list-item class="itens-menu" routerLink="." *ngFor="let item of itens">{{item}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="col-12">
    <app-pessoas class="col-12"></app-pessoas>
  </mat-sidenav-content>
</mat-sidenav-container>