.table-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.filtro-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.pessoas-content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: fit-content;
  font-weight: 400;
  font-size: 0.8rem;
}

mat-card-header{
  font-weight: 600;
}
